@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

    html {
    overflow-y: scroll;
   }
    body {
    position: relative;
    margin: 0;
    background-color:#037682
    }
  ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EFFAFF;
  /*box-shadow: 2px 2px 2px gray;*/
  border-bottom: 2px solid #025861;
  z-index: 1;
  }

  li {
  float: left;
  }

  li a {
  display: block;
  color: #00C4CC;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
  background-color: #025861;
  box-shadow: 3px 3px 3px gray;
  display: block;
  transform: perspective(2px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  }

  .active {
    background-color: #025861;
  }


  #sidebar {
    list-style-type: none;
    margin-top: 82px;
    padding: 0;
    width: 10%;
    background-color: #effaff;
    position: absolute;
    height: 100%;
    overflow: auto;
    text-align: center;
    z-index:0;
  }

  #add {
  text-align: center;
  border-bottom: 2px solid #296870;
}
  #fonter {
    font-family: Comfortaa,'Trebuchet MS', sans-serif;
    font-size: 110%;
    text-align: center;
  }

  input[type=button], input[type=text], input[type=password] {
    background-color: #025861;/*#025861;#03717d;*/
    border: 1.5px solid #EFFAFF;
    color: white;
    padding-top: 16px;
    padding-bottom: 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    width: 250px;
    height: 30px;
  }

  input[type=submit]{
    background-color: #025861;
    border: 1.5px solid #EFFAFF;
    color: white;
    /*padding: 25px 32px 10px 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    margin: 4px 2px 4px 2px;
    cursor: pointer;
    font-family: Comfortaa;
    font-size: 110%;
    letter-spacing: 0.5px;
    border-radius: 0px;
    width: 100px;
    height: 40px;
  }
